﻿@using System.Web.DynamicData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Colonial Self Enroll</title>
    @Styles.Render("~/Content/css")
	@Styles.Render("~/style/site")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="container">
	@if (@ViewBag.DisplayNavigationBar == "True")
	{
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<img class="siteLogo" src="~/images/ColonialLife_Header_Logo.PNG"/>
				<ul>
					@if (@ViewBag.DisplayCoreMenuOptions == "True")
					{
						<li>Home</li>
						<li>Enrollments</li>
						<li>Tools</li>
					}
					<li>My Account</li>
				</ul>
			</div>
		</div>
	}
	@if (@ViewBag.DisplayBreadcrumbBanner == "True")
	{
		<div class="breadcrumb-banner row">
			<table class="col-md-12">
				<tbody>
				<tr>
					<td class="col-md-6 col-sm-6">You are here: @ViewBag.Breadcrumb</td>
					<td style="text-align: right" class="col-md-6 col-sm-6">Need help? Chat now! <i style="font-size: xx-large" class="fa fa-weixin"></i> </td>
				</tr>
				</tbody>
			</table>
		</div>
	}
</div>
		@RenderBody()
    <div class="container">
        <div class="row">
            <div class="col-md-12 site-footer">
                <div class="col-md-5 col-md-offset-1">
                    <table>
                        <tbody>
                            <tr>
                                <td><img style="padding-bottom: 20px" src="~/images/ColonialLife_Logo_White.png" /></td>
                            </tr>
                            <tr>
                                <td class="powered-by-harmony">Powered by Harmony <i style="font-size: x-small; vertical-align: super" class="fa fa-copyright"></i></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="trademark"><i style="font-size: xx-small" class="fa fa-copyright"></i> 2016 Colonial Life. All rights reserved.</td>
                            </tr>
                            <tr>
                                <td class="trademark">NS-200 | Legal | Privacy | Site Map | Trademark</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <table class="explore-harmony">
                        <tr>
                            <td style="font-weight: bold; padding-bottom: 15px;">Explore Harmony</td>
                        </tr>
                        <tr>
                            <td>Contact Us</td>
                            <td>Hable Espanol</td>
                        </tr>
                        <tr>
                            <td>Help</td>
                            <td>Legal Notice</td>
                        </tr>
                        <tr>
                            <td>FAQs</td>
                            <td>Privacy Notice</td>
                        </tr>
                        <tr>
                            <td>Get the Facts</td>
                            <td>HIPAA</td>
                        </tr>
                        <tr>
                            <td>Harmony Tour</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/siteJs")
    @RenderSection("scripts", required: false)
</body>
</html>
