﻿/*.body-content {
    padding: 0;
}*/

@font-face {
    font-family: 'oswald-light';
    src: url('../colonial-branding/fonts/oswald/oswald-light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}

body {
    background: white url('../images/Hero_Image.png') no-repeat;
    background-size: contain;
}

.white-button {
        background: white url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
        color: #2da881;
        border-radius: 4px;
        height: 60px;
        line-height: 60px;
        font-family: SourceSansPro-Semibold;
        font-size: 22px;
        letter-spacing: 0.47px;
        text-align: center;
        cursor: default;
}

.white-button:hover {
    background: rgba(255, 255, 255, 0.81) url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
}

.login-panel {
    background-color: rgba(255,255,255,0.9);
    box-shadow: -3px -2px 3px -1px rgba(0,0,0,0.1), 3px -2px 3px -1px rgba(0,0,0,0.1);
}


.login-panel-left {
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 105px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .login-panel-left {
        padding-right: 40px;
    }
}

.login-panel-left .header-text {
    font-family: 'Oswald-Light';
    font-size: 40px;
    color: #2da881;
    line-height: 50px;
    text-align: left;
    margin-top: 50px;
}

.login-panel-left .welcome-text {
    font-family: Oswald-Light;
    font-size: 28px;
    color: #265b80;
    text-align: left;
    margin-top: 30px;
}

.login-panel-left .queries-text {
    font-family: SourceSansPro-Regular;
    font-size: 20px;
    color: #1f3340;
    line-height: 30px;
    text-align: left;
    margin-top: 9px;
}



.login-panel-right {
    padding-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    border-left: #dedccc 1px solid;
    min-height: 485px;
    max-width: 378px;

}

@media (max-width: 768px) {
    .login-panel-right {
        padding-top: 0;
        border-left: none;
    }
}

.login-panel-right .header-text {
    font-family: Oswald-Light;
    font-size: 36px;
    color: #1c3140;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: left;
}



.login-panel-right .instructions-text {
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #1c3140;
    letter-spacing: 0.38px;
    text-align: left;
    margin-top: 30px;
}

.login-panel-right .login-buttons {
    margin-top: 28px;
}

.login-panel-right .log-in-here {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #265b80;
    letter-spacing: 0.34px;
    text-align: left;
    margin-top: 12px;
}

.login-panel-right .forgot-password {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #265b80;
    letter-spacing: 0.34px;
    text-align: left;
    margin-top: 15px;
}

    .login-panel-right .log-in-here .log-in-here-link {
        display: inline-block;
        font-weight: bold;
        cursor: default;
    }

.login-panel-right .queries-text {
    font-family: SourceSansPro-Regular;
    font-size: 20px;
    color: #1f3340;
    line-height: 30px;
    text-align: left;
    margin-top: 50px;
}

.login-panel-right .input-label {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #2da881;
    letter-spacing: 0.34px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: normal;
}

.login-panel-right .input-label-password {
    margin-top: 26px;
}

.login-panel-right .input-value {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #1f3340;
    border: none;
    border-bottom: 1px solid #1c3140;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: -3px 0;
    width: 100%;
}

.login-panel-right .input-value:focus {
    outline: none;
}

.login-button {
    background: #265b80;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
    padding-bottom: 7px;
}

.login-button:hover {
    background: rgba(38, 91, 128, 0.81);
}

    .login-button .icon {
        font-size: 29px;
        margin-top: 10px;
        margin-left: 20px;
        line-height: 25px;
        float: left !important;
    }

    .login-button .button-text {
        margin-left: 60px;
        cursor: default;
    }

        .login-button .button-text .line1 {
            font-family: SourceSansPro-Regular;
            font-size: 18px;
            letter-spacing: 0.38px;
            text-align: left;
            margin-top: 2px;
        }

        .login-button .button-text .line2 {
            opacity: 0.59;
            font-family: SourceSansPro-Regular;
            font-size: 12px;
            letter-spacing: 0.25px;
            text-align: left;
            margin-top: -4px;
        }

.user-login-button-wrapper {
    width: 100%;
}

.user-login-button {
    background: #2da881;
    margin-left: auto;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}

.user-login-button:hover {
    background: rgba(45, 168, 129, 0.81);
}

.login-facts {
    width: 100%;
    background: #2da881;
    color: white;
    text-align: center;
    padding-bottom: 37px;
}

    .login-facts .title {
        font-family: Oswald-Light;
        font-size: 40px;
        text-align: center;
        padding-top: 43px;
    }

    .login-facts .three-facts {
        margin-top: 15px;
    }

        .login-facts .three-facts .fact {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            /*min-height: 370px;*/
            max-width: 430px;
            margin: auto;
        }

            .login-facts .three-facts .fact .icon {
            }

            .login-facts .three-facts .fact .header {
                margin-top: 20px;
                font-family: Oswald-Light;
                font-size: 36px;
                text-align: center;
            }

            .login-facts .three-facts .fact .description {
                margin-top: 5px;
                font-family: SourceSansPro-Regular;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }

    .login-facts .major-medical {
        max-width: 1080px;
        font-family: SourceSansPro-Regular;
        font-size: 24px;
        line-height: 30px;
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .login-facts .learn-more-button {
        width: 207px;
        padding-right: 30px;
        margin-top: 53px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-facts .facts-source {
        font-family: SourceSansPro-Regular;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin-top: 24px;
    }

    .login-facts .next-fact-button {
        max-width: 333px;
        padding-right: 30px;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        cursor: default;
    }



.carousel-indicators {
    bottom: -25px;
}

    .carousel-indicators .active {
        border: none;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

        .carousel-indicators .active li {
            border: none;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

    .carousel-indicators li {
        border: none;
        background-color: rgba(255,255,255,0.3);
        margin-left: 5px;
        margin-right: 5px;
    }
