﻿
@font-face {
    font-family: 'oswald-light';
    src: url('../colonial-branding/fonts/oswald/oswald-light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #30aa83;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #30aa83;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #30aa83;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #30aa83;
}

/*hide border on mobile*/
@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .col-xs-12 {
        padding: 0;
    }
}


.person-details {
    color: white;
    background-color: #2da881;
    text-align: center;
}

    .person-details .policy {
        margin-top: 100px;
    }

    .person-details .header-text {
        font-family: Oswald-Light;
        font-size: 36px;
        margin-top: 17px;
    }

    .person-details .details-panel {
        background: white;
        font-family: SourceSansPro-Regular;
        color: #1f3340;
        padding-top: 39px;
        padding-left: 28px;
        padding-right: 28px;
        text-align: left;
        margin-top: 50px;
    }

@media (max-width: 768px) {
    .person-details .details-panel {
        padding-left: 20px;
        padding-right: 20px;
    }
}

        .person-details .details-panel .information-header {
            font-family: Oswald-Light;
            font-size: 22px;
            color: #1f3340;
            line-height: 40px;
            margin-bottom: 35px;
        }

         .person-details .details-panel .information-header-work {
             margin-top: 64px;
         }

        .person-details .details-panel .info-row {
            padding-left: 0;
            font-family: SourceSansPro-Regular;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
            margin-top: 9px;
        }

            .person-details .details-panel .info-row .info-row-label {
                padding-left: 0;
                padding-right: 0;
            }

             .person-details .details-panel .info-row .info-row-label-text {
                padding-left: 0;
                color: #5a7081;
                font-weight: normal;
            }

            .person-details .details-panel .info-row .info-row-value {
                padding-left: 0;
                color: #1f3340;
            }
            .person-details .details-panel .info-row .info-row-value-box {
                border: none;
                border-bottom: 1px solid #1c3140;
                background: none;
                box-shadow: none;
                padding: 0;
                width: 100%;
                max-width: 336px;
                min-height: 0;
            }
                .person-details .details-panel .info-row .info-row-value-box:focus {
                    color: #30aa83;
                    outline: none;
                }


.save-button-wrapper {
    width: 100%;
}

.save-button {
    background: #30aa83;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    font-family: SourceSansPro-Semibold;
    font-size: 18px;
    letter-spacing: 0.38px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 10px;
}

    .save-button:hover {
        background: rgba(45, 168, 129, 0.81);
    }

@media (max-width: 768px) {
    .save-button {
        width: 100%;
        max-width: 333px;
        margin-left: auto;
        margin-right: auto;
    }
}

.panel-bottom-padding {
    padding-bottom: 35px;
}

.bottom-padding {
    padding-bottom: 70px;
}

