﻿
@font-face {
    font-family: 'oswald-light';
    src: url('../colonial-branding/fonts/oswald/oswald-light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}

.white-button {
    background: white url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
    color: #2da881;
    width: 100%;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    font-family: SourceSansPro-Semibold;
    font-size: 22px;
    letter-spacing: 0.47px;
    text-align: center;
    cursor: default;
    padding: 0;
}

    .white-button:hover {
        background: rgba(255, 255, 255, 0.81) url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
        color: #2da881;
    }

.details-updated {
    color: white;
    background-color: #2da881;
    text-align: center;
}

    .details-updated .policy-img {
        margin-top: 100px;
    }

@media (max-width: 768px) {
    .details-updated .policy-img {
        margin-top: 49px;
    }
}

.details-updated .header-text {
    font-family: 'Oswald-Light';
    font-size: 40px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .details-updated .header-text {
        font-size: 33px;
        margin-top: 40px;
    }
}

.details-updated .family-header {
    font-family: Oswald-Light;
    font-size: 36px;
    margin-top: 83px;
}

@media (max-width: 768px) {
    .details-updated .family-header {
        font-family: Oswald-Light;
        font-size: 30px;
        margin-top: 26px;
    }
}

.details-updated .family-desc {
    font-family: SourceSansPro-Regular;
    font-size: 24px;
    line-height: 30px;
    margin-top: 17px;
}

@media (max-width: 768px) {
    .details-updated .family-desc {
        font-family: SourceSansPro-Regular;
        font-size: 18px;
        line-height: 30px;
        margin-top: 17px;
    }
}

.details-updated .add-family-button {
    max-width: 333px;
    padding-right: 30px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

@media (max-width: 768px) {
    .details-updated .add-family-button {
        max-width: 333px;
    }
}

.details-updated .skip-for-now {
    margin-top: 23px;
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    line-height: 30px;
    cursor: default;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

    .details-updated .skip-for-now:hover {
        color: rgba(255, 255, 255, 0.81);
    }

.details-updated .bottom-padding {
    padding-bottom: 168px;
}


@media (max-width: 768px) {
.details-updated .bottom-padding {
    padding-bottom: 43px;
}
}