﻿body {
	background-color: darkslategrey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
	padding-top: 40px;
	margin-top: 0;
	margin-bottom: 0;*/
	background-color: lightgrey; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 /*@media (min-width: 1200px) {
  .container {
    max-width: 1550px;
	  width: 1550px;
  }
}*/

 .navbar {
	 border-radius: 0;
	 margin-bottom: 0;
	 min-height: 100px;	 
 }

 .navbar-inverse {
	 background-color: white;
	 border-color: white;
 }

 .navbar-toggle {
	 background-color: darkslategrey;
	 border-color: darkslategrey;
 }

 .breadcrumb-banner td {
	 color: white;
	 margin-left: 0;
	 margin-right: 0;
	 height: 50px;	 
	 background-color: #30aa83;
	 padding-left: 100px;
	 padding-right: 100px;
 }

 .row {
	 margin-right: 0;
	 margin-left: 0;
 }

 .siteLogo {
	 padding-top: 15px;
 }

  .navbar-collapse {
	  padding-left: 100px;
  }

 .navbar-collapse ul {
	 padding-top: 50px;
	 padding-right: 75px;
	 padding-left: 75px;
	 white-space: nowrap;
	 float: right;
	 list-style-type: none;
	 display: -webkit-inline-box;
 }

  .navbar-collapse ul li {
	  padding-right: 40px;
 }

 .site-footer {
	 background-color: darkslategrey;
	 padding-top: 40px;
	 color: white;
 }

.powered-by-harmony {
	font-size: x-large;
	padding-bottom: 20px;
}

.trademark {
	font-size: small;
	color: lightgray;
}

.explore-harmony tbody tr td {
	padding-right: 50px;	
}



