﻿
@font-face {
    font-family: 'oswald-light';
    src: url('../colonial-branding/fonts/oswald/oswald-light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../colonial-branding/fonts/sourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}

.white-button {
    background: white url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
    color: #2da881;
    width:100%;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    font-family: SourceSansPro-Semibold;
    font-size: 22px;
    letter-spacing: 0.47px;
    text-align: center;
    cursor: default;
    padding: 0;
}

.white-button:hover {
    background: rgba(255, 255, 255, 0.81) url('../images/Icon - circle arrow right.png') no-repeat 89% 55%;
    color: #2da881;
}

.welcome {
    color: white;
    background-color: #2da881;
    text-align: center;
}

    .welcome .header-text {
        font-family: 'Oswald-Light';
        font-size: 40px;
        margin-top: 165px;
    }

    .welcome .policy {
        margin-top: 65px;
    }

    .welcome .policy-header {
        font-family: Oswald-Light;
        font-size: 36px;
        margin-top: 20px;
    }

    .welcome .policy-desc {
        font-family: SourceSansPro-Regular;
        font-size: 24px;
        line-height: 30px;
        margin-top: 13px;
    }

    .welcome .lets-go-button {
        max-width: 207px;
        padding-right: 30px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        cursor: default;
    }

@media (max-width: 768px) {
    .welcome .lets-go-button {
        max-width: 333px;
    }
}

.welcome .skip-for-now {
    margin-top: 30px;
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    line-height: 30px;
    cursor: default;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.welcome .skip-for-now:hover {
    color: rgba(255, 255, 255, 0.81);
}

.welcome .bottom-padding {
    padding-bottom: 120px;
}