﻿@model Colonial.SelfEnroll.Web.Models.UserLoginViewModel
@{
    ViewBag.Title = "Login";
}

@Styles.Render("~/style/login")




<div id="loginPanel" class="container login-panel">
    <div class="row">
        <div class="col-sm-8 col-xs-12 login-panel-left">
            <img src="~/images/logo_coloniallife.png" />
            <div class="header-text">
                Work has its benefits.<br />
                It's time to enjoy them.
            </div>
            <div class="welcome-text">
                Welcome to your benefits enrollment.
            </div>
            <div class="queries-text hidden-xs">
                The benefits Fountain are offering for 2017 are presented and explained here. If you have any queries or need help simply call 1–888–555–1212 or activate the customer service chat at the bottom right of this screen.
            </div>
        </div>

        <div id="singleSignOnLogin" class="col-sm-4 col-xs-12 login-panel-right">
            <div class="header-text">
                Log in.
            </div>
            <div class="instructions-text">
                Please select a log in method below.
            </div>
            <div class="login-buttons">
                <div id="btnLinkedInLogin" class="login-button">
                    <i class="fa fa-linkedin-square icon"></i>
                    <div class="button-text">
                        <div class="line1">Sign In Using LinkedIn</div>
                        <div class="line2">We won't share any of your data</div>
                    </div>
                </div>
                <div id="btnGoogleLogin" class="login-button">
                    <i class="fa fa-google icon"></i>
                    <div class="button-text">
                        <div class="line1">Sign In Using Google</div>
                        <div class="line2">We won't share any of your data</div>
                    </div>
                </div>
                <div id="btnFacebookLogin" class="login-button">
                    <i class="fa fa-facebook icon"></i>
                    <div class="button-text">
                        <div class="line1">Sign In Using Facebook</div>
                        <div class="line2">We won't share any of your data</div>
                    </div>
                </div>
                <div class="log-in-here">
                    Don’t have any of these accounts?
                    <div id="linkLogInHere" class="log-in-here-link">Log in</div> here.
                </div>
            </div>
            <div class="queries-text visible-xs">
                The benefits <strong>Fountain</strong> are offering for 2017 are presented and explained here. If you have any queries or need help simply call 1–888–555–1212 or activate the customer service chat at the bottom right of this screen.
            </div>
        </div>


        <div id="userLogin" class="col-sm-4 col-xs-12 login-panel-right" style="display:none">
            <div class="header-text">
                Log in.
            </div>
            <div class="instructions-text">
                You have <strong>12 days</strong> remaining to enroll.
            </div>
            @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@


                @Html.LabelFor(m => m.UserId, new { @class = "input-label input-label-userid" })
                @Html.TextBoxFor(m => m.UserId, new { @class = "input-value" })

                @Html.LabelFor(m => m.Password, new { @class = "input-label input-label-password" })
                @Html.PasswordFor(m => m.Password, new { @class = "input-value" })


                <div class="forgot-password">
                    Forgot Password?
                </div>


                <div class="user-login-button-wrapper">
                    <input type="submit" value="Log In" class="login-button user-login-button" />
                </div>
            }

            <div class="queries-text visible-xs">
                The benefits <strong>Fountain</strong> are offering for 2017 are presented and explained here. If you have any queries or need help simply call 1–888–555–1212 or activate the customer service chat at the bottom right of this screen.
            </div>
        </div>

    </div>

</div>




<div class="login-facts">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 title">
                Let's focus on the facts.
            </div>
        </div>

        <div class="row three-facts visible-xs">
            <div class="col-sm-12">

                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="fact">
                                <div class="icon">
                                    <img src="~/images/Icon - Medical.png" />
                                </div>
                                <div class="header">
                                    36 Million
                                </div>
                                <div class="description">
                                    The number of people uninsured in the U.S. 26.3 million of these have been uninsured for more than a year.
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="fact">
                                <div class="icon">
                                    <img src="~/images/Icon - Cash.png" />
                                </div>
                                <div class="header">
                                    48 Million
                                </div>
                                <div class="description">
                                    The number of people having difficulty paying medical bills in the U.S. in the past 12 months. That’s one in five.
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="fact">
                                <div class="icon">
                                    <img src="~/images/Icon - Home.png" />
                                </div>
                                <div class="header">
                                    7 in 10
                                </div>
                                <div class="description">
                                    Households with children under 18 who would not be able to meet living expenses if primary earner unable to work.
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="fact major-medical">
                                And while it’s true that your major medical insurance coverage is important, financial protection benefits can help provide you with money to pay for some of the expenses not covered by major medical insurance.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div id="btnNextFact" class="white-button next-fact-button">
                        Next
                    </div>
                </div>

            </div>
        </div>


        <div class="row three-facts hidden-xs">

            <div class="col-sm-4">
                <div class="fact">
                    <div class="icon">
                        <img src="~/images/Icon - Medical.png" />
                    </div>
                    <div class="header">
                        36 Million
                    </div>
                    <div class="description">
                        The number of people uninsured in the U.S. 26.3 million of these have been uninsured for more than a year.
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="fact">
                    <div class="icon">
                        <img src="~/images/Icon - Cash.png" />
                    </div>
                    <div class="header">
                        48 Million
                    </div>
                    <div class="description">
                        The number of people having difficulty paying medical bills in the U.S. in the past 12 months. That’s one in five.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="fact">
                    <div class="icon">
                        <img src="~/images/Icon - Home.png" />
                    </div>
                    <div class="header">
                        7 in 10
                    </div>
                    <div class="description">
                        Households with children under 18 who would not be able to meet living expenses if primary earner unable to work.
                    </div>
                </div>
            </div>


        </div>

        <div class="row major-medical hidden-xs">
            And while it’s true that your major medical insurance coverage is important, financial protection benefits can help provide you with money to pay for some of the expenses not covered by major medical insurance.
        </div>
        <div class="row white-button learn-more-button hidden-xs">
            Learn more
        </div>
        <div class="row facts-source">
            Source: CDC - National Center for Health Statistics
        </div>
    </div>



</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {

            var nextCarouselPage = 1;

            function updateLoginPanelPosition() {
                //var loginPanel =  document.getElementById("loginPanel");
                //var body = document.getElementsByTagName("body")[0];

                //var documentWidth = document.documentElement.clientWidth || document.body.clientWidth;
                //var loginPanelHeight = loginPanel.clientHeight;

                //var imageHeight = Math.floor(documentWidth * 0.5346666); // image is 1500 x 802
                //var panelMarginTop, backgroundY;
                //if (imageHeight > loginPanelHeight) {
                //    backgroundY = 0;
                //    panelMarginTop = imageHeight - loginPanelHeight; // align image and login panel bottoms
                //} else {
                //    backgroundY = loginPanelHeight - imageHeight; // align image and login panel bottoms
                //    panelMarginTop = 0;
                //}

                //body.style.backgroundPositionY = backgroundY + 'px';
                //loginPanel.style.marginTop = panelMarginTop + 'px';

                //jquery way
                var loginPanel = $("#loginPanel");
                var body = $("body");
                var documentWidth = $(document).width();
                var loginPanelHeight = loginPanel.height();

                var imageHeight = Math.floor(documentWidth * 0.5346666); // image is 1500 x 802
                var panelMarginTop, backgroundY;
                if (imageHeight > loginPanelHeight) {
                    backgroundY = 0;
                    panelMarginTop = imageHeight - loginPanelHeight; // align image and login panel bottoms
                } else {
                    backgroundY = loginPanelHeight - imageHeight; // align image and login panel bottoms
                    panelMarginTop = 0;
                }
                body.css('backgroundPositionY', backgroundY + 'px');
                loginPanel.css('marginTop', panelMarginTop + 'px');
            };

            window.addEventListener('load', function() {
                updateLoginPanelPosition();
            }, true);

            window.addEventListener('resize', function() {
                updateLoginPanelPosition();
            }, true);

            $('#btnLinkedInLogin').click(function() {
                window.location.href = "Welcome";
            });

            $('#btnGoogleLogin').click(function() {
                window.location.href = "Welcome";
            });

            $('#btnFacebookLogin').click(function() {
                window.location.href = "Welcome";
            });

            $("#btnNextFact").click(function() {
                if (nextCarouselPage === 4) {
                    $("html, body").animate({ scrollTop: "0px" });
                } else {
                    $("#myCarousel").carousel(nextCarouselPage);
                    nextCarouselPage++;
                    if (nextCarouselPage === 4) {
                        $("#btnNextFact").text("Log in");
                    }
                }
            });

            $("#linkLogInHere").click(function() {
                $('#singleSignOnLogin').hide();
                $('#userLogin').show();
            });

            //$('#myCarousel').on('slid', function() {

            //});

            function carouselNormalization() {
                var items = $('#myCarousel .item'), //grab all slides
                    heights = [], //create empty array to store height values
                    tallest; //create variable to make note of the tallest slide

                if (items.length) {
                    function normalizeHeights() {
                        items.each(function() { //add heights to array
                            heights.push($(this).height());
                        });
                        tallest = Math.max.apply(null, heights); //cache largest value
                        items.each(function() {
                            $(this).css('min-height', tallest + 'px');
                        });
                    };

                    normalizeHeights();

                    $(window).on('resize orientationchange', function() {
                        tallest = 0, heights.length = 0; //reset vars
                        items.each(function() {
                            $(this).css('min-height', '0'); //reset min-height
                        });
                        normalizeHeights(); //run it again
                    });
                }
            }

            carouselNormalization();
        });
    </script>
}
