﻿
@{
    ViewBag.Title = "Person Details Updated";
}

@Styles.Render("~/style/person-details-updated")

<div class="details-updated">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="header-text visible-xs">
                    Details updated, thank you.
                </div>
                <div class="policy-img">
                    <img src="~/images/Icon - Policy.png"/>
                </div>
                <div class="header-text hidden-xs">
                    Details updated, thank you.
                </div>

                <div class="family-header">
                    Your family.
                </div>
                <div class="family-desc">
                    Would you like to add family members details to your account also? This is useful when their details are required for specific policies. You can skip this now and when required for a policy add it then.
                </div>

                @Html.ActionLink("Add family members", "AddFamilyMembers", "Home", new {@class = "btn white-button add-family-button"})
                @*<input type="button" value="Let's GO" class="white-button lets-go-button" />
                <div class="white-button lets-go-button">
                    Let's GO
                </div>*@
                <div class="skip-for-now">
                    Skip for now.
                </div>
                <div class="bottom-padding"></div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

</div>