﻿@model Colonial.SelfEnroll.Web.Models.PersonDetailsViewModel
@{
    ViewBag.Title = "Person Details";
}

@Styles.Render("~/style/person-details")

<div class="person-details">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-1 col-md-2 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
                <div class="policy">
                    <img src="~/images/Icon - Policy.png" />
                </div>
                <div class="header-text">
                    Okay, let's update your details.
                </div>
                @using (Html.BeginForm("SavePersonDetails", "Home", FormMethod.Post, new { role = "form" }))
                {
                    <div class="details-panel">

                        <div class="information-header">
                            Personal Information
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.Name, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.Name, new { @class = "info-row-value-box", placeholder = "Please enter your name" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.Address, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextAreaFor(m => m.Address, 3, 1, new { @class = "info-row-value-box", placeholder = "Please enter your address" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.Gender, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.Gender, new { @class = "info-row-value-box", placeholder = "Please enter Male or Female" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.DateOfBirth, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "info-row-value-box", placeholder = "Please enter: mm/dd/yyyy" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "info-row-value-box", placeholder = "Please enter a number" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.Email, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.Email, new { @class = "info-row-value-box", placeholder = "Please enter an email" })
                            </div>
                        </div>

                        <div class="information-header information-header-work">
                            Work Information
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.WorkPhone, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.WorkPhone, new { @class = "info-row-value-box", placeholder = "Please enter a number" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.HoursPerWeek, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.HoursPerWeek, new { @class = "info-row-value-box", placeholder = "Please enter a number" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.DateOfHire, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.DateOfHire, new { @class = "info-row-value-box", placeholder = "Please enter: mm/dd/yyyy" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.AnnualSalary, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.AnnualSalary, new { @class = "info-row-value-box", placeholder = "Please enter an amount" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.EmployeeId, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.EmployeeId, new { @class = "info-row-value-box", placeholder = "Please enter your ID" })
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 info-row-label">
                                @Html.LabelFor(m => m.JobTitle, new { @class = "info-row-label-text" })
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-9 info-row-value">
                                @Html.TextBoxFor(m => m.JobTitle, new { @class = "info-row-value-box", placeholder = "Please enter your job title" })
                            </div>
                        </div>

                        @*@Html.TextBox("", (Model.HasValue ? Model.Value.ToShortDateString() : string.Empty), new { @class = "datePicker" }) %>*@

                        @*@Html.ActionLink("Let's GO", "LetsGo", "Home", new { @class = "btn white-button lets-go-button" })
                            <input type="button" value="Let's GO" class="white-button lets-go-button" />*@
                        <div class="save-button-wrapper">
                            <input type="submit" value="Save" class="save-button" />
                        </div>
                        <div class="panel-bottom-padding"></div>
                    </div>
                }
                <div class="bottom-padding"></div>
                <div class="hidden-xs col-sm-1 col-md-2 col-lg-2">
                </div>
            </div>
        </div>
    </div>
</div>
