﻿
@{
    ViewBag.Title = "Welcome";
}

@Styles.Render("~/style/welcome")

<div class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="header-text">
                    Hi Imogen! Welcome.
                </div>
                <div class="policy">
                    <img src="~/images/Icon - Policy.png" />
                </div>
                <div class="policy-header">
                    You and your policy.
                </div>
                <div class="policy-desc">
                    Most policy plans are yours. They continue even if you change jobs or retire. Therefore, it is in your best interest that your personal details are up to date.
                    Please take a minute to review and update where required.
                </div>

                @Html.ActionLink("Let's GO", "PersonDetails", "Home", new { @class = "btn white-button lets-go-button" })
                @*<input type="button" value="Let's GO" class="white-button lets-go-button" />
                <div class="white-button lets-go-button">
                    Let's GO
                </div>*@
                <div class="skip-for-now">
                    Skip for now.
                </div>
                <div class="bottom-padding"></div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

</div>